<%- include('./includes/head.ejs') %>
    <link rel="stylesheet" href="/css/weatherdetails.css">
    </head>

    <body>
        <%- include('./includes/navigation.ejs') %>
            <main>
                <% if (forecast) { %>
                    <div class="grid">
                            <article class="card product-item">
                                <header class="card__header">
                                    <h1 class="weather__cityName">
                                        <%= cityName %> city
                                    </h1>
                                </header>
                                <div class="card__content">
                                    <h3 class="weather__min_max">
                                        Minimum temperature: <%= forecast.temp_min %> C
                                    </h3>
                                    <h3 class="weather__min_max">
                                        Maximum temperature: <%= forecast.temp_max %> C
                                    </h3>
                                    <h4 class="weather__description">
                                        Humidity <%= forecast.temperature.humidity %> <br> Pressure <%= forecast.temperature.pressure %>
                                    </h4>
                                    <p class="weather__description">
                                        Weather Description: <%= forecast.text %>
                                    </p>
                                </div>
                            </article>
                    </div>
                    <% } else { %>
                        <h1>weather forecast not found for this city</h1>
                        <% } %>
            </main>
            <%- include('./includes/end.ejs') %>