<%- include('./includes/head.ejs') %>
    <link rel="stylesheet" href="/css/weatherdetails.css">
    </head>

    <body>
        <%- include('./includes/navigation.ejs') %>

            <main>
                <% if (forecast) { %>
                    <div class="grid">
                            <article class="card product-item">
                                <header class="card__header">
                                    <h1 class="weather__cityName">
                                        <%= cityName %> City
                                    </h1>
                                </header>
                                <div class="card__content">
                                    <p class="weather__min_max">
                                        Minimum temperature: <%= forecast.temperature.Minimum.Value %> F
                                    </p>
                                    <p class="weather__min_max">
                                        Maximum temperature: <%= forecast.temperature.Maximum.Value %> F
                                    </p>
                                    <h3 class="weather__description">
                                        <%= forecast.day %> during the day, <br> and <%= forecast.night %> during the night
                                    </h3>
                                    <h4 class="weather__description">
                                        <%= forecast.text %> <%= forecast.text %>
                                    </h4>
                                </div>
                            </article>
                    </div>
                    <% } else { %>
                        <h1>weather forecast not found for this city</h1>
                        <% } %>
            </main>
            <%- include('./includes/end.ejs') %>